[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/ehr"]
	path = themes/ehr
	url = https://github.com/EinoHR/ehr-hugo-theme
